*{
    margin : 0;
    padding : 0;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: "Audiowide", sans-serif; */
    font-family: 'Bungee', cursive;
  }

  .header{
    font-size: 20px;
    text-align: center;
    background-color: black;
  }
  
  nav{
    /* display: flex; */
    padding: 0% 0%;
    justify-content: space-between;
    align-items: center;
  }

  nav img{
    width: 150px;
  
  }
  
  .nav-links{
    flex: 1;
    text-align: right;
  }
  .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  
  .nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
  }
  
  .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #FFCC66;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  .nav-links ul li:hover::after{
    width: 100%;
  
  }

  /* Title - About me and a blink */
h1 {
  font-family: monospace;
  font-size: 50px;
  color: #ffff;
  position: absolute;
  top: 10%;
  left: 6%;
  text-align: left;

  border-right: 4px solid;
  width: 10ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(10), blinking 0.5s infinite step-end alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blinking {
  530% {
    border-color: transparent;
  }
}

  