*{
  margin : 0;
  padding : 0;

}

.header{
  font-family: 'Bungee', cursive;
  font-size: 20px;
  text-align: center;
  background-color: black;
  background-size: cover;
  background-position: center;
}

nav{
  /* display: flex; */
  padding: 0% 0%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 150px;
}

/* sending it to the right */
.nav-links{
  flex: 1;
  text-align: right;
}

/* stack --> horizontal stack */
  /* inline-block : stacks or blocks in a line  */
  /* padding : giving spaces to each block */
.nav-links ul li{
  display: inline-block;
  padding: 8px 12px;
  list-style: none;
  position: relative;
}

/* changing the font */
  /* text-decoration : decorating the name tab */
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

/* hover effect */
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #FFCC66;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}



/* Title - About me and a blink */
h1 {
  font-family: monospace;
  font-size: 50px;
  color: #ffff;
  position: absolute;
  top: 10%;
  left: 6%;
  text-align: left;

  border-right: 4px solid;
  width: 10ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(10), blinking 0.5s infinite step-end alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blinking {
  530% {
    border-color: transparent;
  }
}


/* message in p(paragraph) */
.text-box2{
  /* font-family: 'Gloria Hallelujah', cursive; */
  font-family: monospace;
  width: 65%;
  color: #ffff;
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%,-50%);
  text-align:left;
}
.text-box2 h2{
  font-size: 50px;
}

/* My photo */
.container{
  width: 70px;
  height: auto;
  position: absolute;
  top: 20%;
  left: 70%;
}

.circle {
  width:70px;
  height:70px;
  background:#fdf3aa;
  top: 20%;
  left: 40%;
}



/* Bouncy ball loading */
/* https://codepen.io/wabeshew/pen/XdbBdM */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: Montserrat;
}

.wrap {
  position: absolute;
  top: 25%;
  left: 5%;
  transform: translate(-50%, -50%);
}

.text {
  color: #fbae17;
  display: inline-block;
  margin-left: 5px;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}
.bounceball:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fbae17;
  transform-origin: 50%;
  -webkit-animation: bounce 500ms alternate infinite ease;
          animation: bounce 500ms alternate infinite ease;
}

@-webkit-keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}