*{
  margin : 0;
  padding : 0;

}

.header{
  font-family: 'Bungee', cursive;
  font-size: 20px;
  text-align: center;
  background-color: black;
  background-size: cover;
  background-position: center;
}

nav{
  /* display: flex; */
  padding: 0% 0%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 150px;
}

/* sending it to the right */
.nav-links{
  flex: 1;
  text-align: right;
}

/* stack --> horizontal stack */
  /* inline-block : stacks or blocks in a line  */
  /* padding : giving spaces to each block */
.nav-links ul li{
  display: inline-block;
  padding: 8px 12px;
  list-style: none;
  position: relative;
}

/* changing the font */
  /* text-decoration : decorating the name tab */
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

/* hover effect */
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #FFCC66;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}

/* text on the left */
.text-box{
  font-family: 'Bungee', cursive;
  width: 70%;
  color: #ffff;
  position: absolute;
  top: 10%;
  left: 6%;
  /* transform: translate(-50%,-50%); */
  text-align: left;
}

.text-box h1{
  font-size: 50px;
}

.text-box2{
  font-family: 'Gloria Hallelujah', cursive;
  width: 70%;
  color: #ffff;
  position: absolute;
  top: 45%;
  left: 41%;
  transform: translate(-50%,-50%);
  text-align:left;
}
.text-box2 h2{
  font-size: 50px;
}
