*{
  margin : 0;
  padding : 0;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: "Audiowide", sans-serif; */
  font-family: 'Bungee', cursive;
}

.header{
  font-size: 20px;
  text-align: center;
  background-color: black;
}
