*{
  margin : 0;
  padding : 0;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: "Audiowide", sans-serif; */
  font-family: 'Bungee', cursive;
}

.header{
  /* background-image: url('images/sky2copy.png'); */
  /* background-image: linear-gradient(rgba(0,0,50,1), rgba(100, 0, 0, 0.5)); */
  /* background-position: center;
  background-size: cover;
  position: relative; */

  /* background-image: url('https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmlnaHQlMjBza3l8ZW58MHx8MHx8&w=1000&q=80'); */
  /* padding-top: 10px; */
  /* color: none; */
  font-size: 20px;
  text-align: center;
  background-color: black;

}


nav{
  /* display: flex; */
  padding: 0% 0%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 150px;

}


.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #FFCC66;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;

}


.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.text-box h1{
  font-size: 62px;
}

.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: relative;
  cursor: pointer;
}

.hero-btn:hover{
  border: 1px solid #FFCC66;
  background: #FFCC66;
  transition: 1s;
}

nav .fa-solid{
  display: none;
}

@media(max-width: 700px){
  .text-box h1{
    font-size: 20px;
  }
  .nav-links ul li{
    display: block;
  }
  .nav-links{
    position: absolute;
    background: #FFCC66;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
  }
}
